/* =================================
  LAYOUT
   ============================== */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #2d2d2d;
  font-size: 112%;
  font-family: "brandon-grotesque",sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 2em;
  margin: 0;
  padding: 0;
}

a {
  color: #00adee;
  text-decoration: none;
}

a:hover {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  color: #8ad9f6;
}

.blue-text { color: #00adee; }

hr {
  border: 0;
  border-top: 1px solid #ecebeb;
  height: 0;
  margin: 1.8em auto;
  width: 30px
}

.full-width { width: 100%; }

img {
  display: block;
  height: auto;
  margin: 0 auto;
  margin-bottom: 2em;
  max-width: 100%;
}

/* =================================
  TYPOGRAPHY
   ============================== */

h1, h2, h3, h4 {
  font-weight: 500;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 2.31em;
  line-height: 0.8em;
  margin-bottom: .5em;
}

h2 { font-size: 1.7em; }
h3 { font-size: 1.3em; }

h4 {
  font-size: 1.1em;
  font-weight: 600;
}

h5, h6 {
  font-weight: 300;
  margin: 0;
}

h5 {
  color: #2d2d2d;
  display: inline-block;
  font-size: 1em;
  margin-right: 2%;
  text-transform: uppercase;
}

h6 {
  color: #888;
  font-size: 1.1em;
  margin-bottom: 1em;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-size: 1.2em;
  margin-bottom: 1em;
  text-align: left;
}

/* =================================
  LISTS
   ============================== */

ul, li {
  margin: 0;
  padding: 0;
}

ul { font-size: 1.2em; }

li { list-style: none; }

/* =================================
  NAVIGATION
   ============================== */

nav {
  background: #2d2d2d;
  color: #fff;
  height: auto;
  padding: 1em 0;
}

.nav-wrapper {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

nav a { color: #fff; }
nav a:hover { color: #00adee; }

nav ul {
  float: right;
  font-size: 1em;
}

nav li {
  float: left;
  font-size: 1em;
  font-weight: 500;
  margin-left: 1em;
}

.nav-logo { float: left; }

.white-logo {
  margin-bottom: 0;
  max-width: 70px;
}

@media only screen and (max-width: 600px) {
  nav { padding-bottom: 1em;}

  .nav-logo {
    float: 0;
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  nav ul {
    float: 0;
    float: none;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 0;
    width: 100%;
  }

  nav li {
    display: block;
    float: 0;
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
 }

/* =================================
  WRAPPER
   ============================== */

.wrapper {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  max-width: 1200px;
}

.large { max-width: 500px; }
.medium { max-width: 370px; }
.small { max-width: 310px; }
.xsmall { max-width: 200px; }
.sponsor-wrap { max-width: 420px; }

/* =================================
  HOMEPAGE - HERO IMAGE
   ============================== */

.hero-image {
  background: #2d2d2d;
  background-image: url("../images/scna-hero.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: bottom;
  padding: 11em 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.hero-tint {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(45,45,45,0.6);
  z-index: 10;
}

.header-box {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 370px;
  position: relative;
  z-index: 100;
}

@media only screen and (max-width: 600px) { .hero-image { padding: 3em 0; } }

/* =================================
  HOMEPAGE - BUTTONS
   ============================== */

button {
  background: #2d2d2d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: .5em;
  -webkit-appearance: none;
  border: none;
  text-align: center;
  text-transform: uppercase;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  width: 100%;
}

.primary {
  background: 0;
  border: 1px solid #fff;
  font-size: 1em;
  font-weight: 400;
  height: 3em;
  margin-top: 2em;
  line-height: 0;
}

.primary:hover { background: rgba(45, 45, 45, 0.8); }

/* =================================
  HOMEPAGE - MAILING LIST SECTION
   ============================== */

form {
  font-family: "brandon-grotesque",sans-serif;
  font-size: 1em;
  font-weight: 500;
  margin: 0 auto;
  margin-top: 2em;
  text-align: left;
}

input[type="email"],
input[type="text"],
textarea {
  border: 1px solid #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: 300;
  margin-bottom: 1em;
  -webkit-appearance: none;
  width: 100%;
  padding: 0.3em;
  line-height: 1.5;
}

::-webkit-input-placeholder { color: #bbb;}
:-moz-placeholder { color: #bbb;}
::-moz-placeholder { color: #bbb;}
:-ms-input-placeholder { color: #bbb;}

input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
  border: 1px solid #00adee;
  outline: none;
}

button[type="submit"],
.submit-button {
  -webkit-appearance: none;
  border: none;
  background: #555;
  font-size: .9em;
  margin-top: 1em;
}

button[type="submit"]:hover,
.submit-button:hover { background: #6d6d6d; }

@media only screen and (max-width: 900px) {
  form {
    display: inline-block;
    margin-top: 1em;
    width: 100%;
    max-width: 340px;
  }
}

/* =================================
  SCHEDULE - TIMELINE
   ============================== */

.twitter-link { vertical-align: top; }

.date {
  color: #888;
  font-weight: 600;
  font-size: .9em;
  text-transform: uppercase;
}

.time {
  background: #fff;
  font-weight: 300;
  left: 10%;
  top: 0;
  position: absolute;
}

.day {
  background: #fff;
  color: #00adee;
  font-size: .9em;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2em;
  top: 0;
  position: absolute;
}

.friday { left: 11.5%; }

.timeline {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.timeline:before {
  background: #ecebeb;
  content: " ";
  position: absolute;
  top: 20px;
  left: 15%;
  bottom: 0;
  width: 1px;
}

.timeline li { position: relative; }

.timeline-box {
  margin: 0 0 2em 40%;
  position: relative;
  text-align: left;
}

.timeline-text {
  margin-top: .9em;
  max-width: 640px;
}
.timeline-text h4 { text-align: left; }
.timeline-text p {
  color: #535353;
  font-size: 1em;
}

/* =================================
  IMAGES
   ============================== */

.speaker-diamond {
  margin: 0;
  max-width: 160px;
  position: relative;
}

.homepage-logo { max-width: 275px; }
.homepage-icons { max-height: 60px; }

.hundred { max-width: 100px; }
.two-hundred { max-width: 200px; }
.two-fifty { max-width: 250px; }

/* =================================
  SECTIONS
   ============================== */

section {
  border-bottom: 1px solid #ecebeb;
  padding: 4em 0;
}

.white { background: #fff; }
.grey { background: #e3e3e3; }
.pattern { background-image: url("../images/pattern.jpg"); }

@media only screen and (max-width: 600px) {
  .white, .grey, .pattern { padding: 1.5em 0; }
}

/* =================================
  COLUMNS
   ============================== */

.row {
	margin: 2em 0;
	overflow: hidden;
}

.column {
  float: left;
  margin-left: 5%;
}

.column:first-child { margin-left: 0; }

.two-third { width: 20%; }
.half { width: 47.5%; }
.third { width: 30%; }
.fourth { width: 25%; }

.text-box {
  margin: 0 auto;
  max-width: 310px;
}

@media only screen and (max-width: 900px) {
  .column {
    float: none;
    margin-left: 0;
    width: 100%;
  }

  .third {
    margin-bottom: 2em;
    width: 100%;
  }

  .third:last-child { margin-bottom: 0; }

  .text-box {  max-width: 100%; }
  .text-box p { text-align: center; }
}

/* =================================
  FOOTER
   ============================== */

footer {
  background: #e3e3e3;
  padding: 1em 0;
  margin: 0 auto;
  width: 100%;
}

footer p {
  color: #a7a7a7;
  font-size: 1em;
  margin: 0;
  text-align: center;
}

/* =================================
  UTILITIES
   ============================== */

.center {
  margin: 0 auto;
  text-align: center;
}

.left { text-align: left; }

.margin-bottom { margin-bottom: 4em; }
.margin-bottom-small { margin-bottom: .7em; }
.margin-bottom-none { margin-bottom: 0; }

@media only screen and (max-width: 900px) { .margin-bottom { margin-bottom: 1em; } }

/* =================================
  CLEAR FIX
   ============================== */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after { clear: both; }

.cf { *zoom: 1; }
