<header>
  <nav>
    <div class="nav-wrapper cf">
      <a href="{{ site.baseurl }}"><span class="nav-logo"><img class="white-logo" src="{{ site.baseurl }}/images/small-white-logo.png"></span></a>
      <ul>
        <a href="{{ site.baseurl }}/schedule"><li>Schedule</li></a>
        <a href="{{ site.baseurl }}/events"><li>Events</li></a>
        <a href="{{ site.baseurl }}/venue"><li>Venue</li></a>
        <a href="{{ site.baseurl }}/sponsors"><li>Sponsors</li></a>
        <a href="{{ site.baseurl }}/media"><li>Media</li></a>
        <a href="{{ site.baseurl }}/faq"><li>FAQ</li></a>
      </ul>
    </div>
  </nav>
</header>
